:root {
    --fs-main: 1.5rem;
    --fs-small-title: 2rem;
    --fs-title: 3rem;

    --clr-1: #393D3F;
    --clr-2: #e7e7ec;
    --clr-2-darker: #dbdbe0;
    --clr-3: #C6C5B9;
    --clr-3-darker: #b6b5a9;
    --clr-3-lighter: #d8d7c9;
    --clr-4: #62929E;
    --clr-5: #546A7B;
    --clr-accent-1: #ff4800fa;
    --clr-accent-2: #e93d3dfa;

    //--clr-1: #75666D;
    //--clr-2: #D8DCE2;
    //--clr-3: #2E3E78;
    //--clr-4: #E9A025;


    --clr-text-1: #fff;
    --clr-text-2: #000;
    --clr-text-3: #000;
}

.fw-bold {
    font-weight: bold;
    font-size: larger;
    ;
    display: inline-block;
}

@mixin shadow-1 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

@mixin shadow-2 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}

@mixin shadow-3 {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);

}

* {
    font-family: 'Barlow', sans-serif;
}

body {
    font-size: var(--fs-main);
    padding: 0px;
    margin: 0px;
}

.form {
    @include shadow-1();
    background-color: var(--clr-2-darker);
    color: var(--clr-text-2);
    padding: 50px;
    margin: 50px;
    flex: 1;

    .text {
        text-align: center;
    }

    input {
        display: block;
        margin: auto;
        width: 90%;
        line-height: 2;
        margin-bottom: 40px;
    }

    input[type=button] {
        padding: 20px;
        margin: auto;
        width: 100%;
        background-color: var(--clr-accent-1);
        color: var(--clr-text-1);
        font-size: larger;
        font-weight: bold;
        margin-bottom: 50px;
    }
}

.sec {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 50px;
    padding-top: 50px;
}

.sec-1 {
    
    padding:0px;
    margin: 0px;
    height: 100vh;
    .bg {
        background-color: var(--clr-2);
        color: var(--clr-text-1);
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 100%;
        background-image: url("./imgs/home.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    
    
        
    }
}

.sec-2 {
    background-color: var(--clr-2);
    color: var(--clr-text-2);

    .content-wraper {
        
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--clr-2-darker);
        border-radius: 25px;
        @include shadow-2();
        //padding: 35px;
        img {

        }
        .content {
            padding:35px;
            
            //@include shadow-2();
            padding-left: 3%;
            

            .part-1 {
                //font-size: var(--fs-main);
                font-size: 2rem;
            }

            .part-2 {
                //font-size: var(--fs-title);
                font-size: 3rem;
                font-weight: bold;
            }

            .part-3 {
                //font-size: var(--fs-main);
                font-size: 2rem;
            }
        }
    }

    .main {
        display: flex;

        .info {
            flex: 2;

            margin: auto;
            ul {
                padding-inline-start: 0px;
                list-style: none;
                li {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    padding-top:15px;
                    padding-bottom:15px;
                    padding-left:10px;
                    padding-right:10px;
                    
                    img {
                        transform: translateY(20%);
                        padding-inline-end: 10px;
                        width: 35px;
                        height: 35px;
                    }
                    margin: auto;
                }
            }
        }

        .form {
            position: relative;
            @keyframes move-arrow {
                0% {
                    transform: translate(-90%,200%) rotate(40deg) scale(1);
                    
                }
                50% {
                    transform: translate(-90%,200%) rotate(45deg) scale(1.2);
                    
                }
                100% {
                    transform: translate(-90%,200%) rotate(40deg) scale(1);
                    
                }
                /*0% {
                    transform: translate(-90%,200%) rotate(35deg);
                }
                50% {
                    transform: translate(-90%,200%) rotate(45deg);
                }
                100% {
                    transform: translate(-90%,200%) rotate(35deg);
                }*/
            }
            .wraper {
                position: absolute;
                top: 0px;
                width: 220px;
                
                left:0px;
                transform: translate(-90%,200%) rotate(45deg);
                animation: move-arrow infinite 3s;
                @include shadow-2();
                $clr-arrow: #62929E;
                
                
                .arrow_box {
                    position: relative;
                    
                    background: $clr-arrow;
                    #arrow_text_1 {
                        
                    }
                    #arrow_text_2 {

                    }
                }
                .arrow_box:after, .arrow_box:before {
                    left: 100%;
                    top: 50%;
                    border: solid transparent;
                    content: "";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }
                
                .arrow_box:after {
                    border-color: rgba(186, 191, 46, 0);
                    border-left-color: $clr-arrow;
                    border-width: 45px;
                    margin-top: -45px;
                    
                }
                .arrow_box:before {
                    border-color: rgba(245, 221, 0, 0);
                    border-left-color: $clr-arrow;
                    border-width: 45px;
                    margin-top: -45px;
                }
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        @include shadow-3();

        padding: 30px;
        background-color: var(--clr-2-darker);
        border-radius: 25px;

        .note {
            text-align: center;
        }
    }

}

@keyframes waring_animation {
    0% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.5);
    }
}

.sec-3 {
    background-color: var(--clr-3);
    color: var(--clr-text-3);

    .warning {
        text-align: center;
        @include shadow-2();
        border-radius: 25px;
        background-color: var(--clr-3-lighter);
        padding: 20px;

        display: flex;

        justify-content: center;
        align-items: center;

        img {
            display: inline-block;
            animation-name: waring_animation;
            animation-duration: 2s;
            //transform: translateY(50%);
            animation-iteration-count: infinite;
        }

        .text {
            display: inline-block;
            font-size: larger;
            font-weight: bold;
        }



    }

    .content {
        .title {
            font-size: var(--fs-title);
        }

        .bullets {
            display: flex;
            justify-content: space-around;
            padding-bottom: 100px;

            .bullet {
                @include shadow-2();
                display: flex;
                background-color: var(--clr-3-lighter);
                justify-content: center;
                margin: 2%;
                padding: 10px;
                border-radius: 25px;
                align-content: center;

                .icon {
                    width: 65px;
                    display: inline;
                }

                .text {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }


    }

    .cta-block {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;

        button {
            @include shadow-1();
            padding: 20px;
            background-color: var(--clr-accent-1);
            color: var(--clr-text-1);
            font-size: large;
            font-weight: bold;
            display: inline-block;
            margin-right: 80px;
        }

        .wraper {
            @include shadow-2();
            //background-color: #7070f3;
            padding: 25px;
            border-radius: 25px;
            display: flex;
            background-color: var(--clr-3-lighter);
            justify-content: center;
            align-items: center;

            img {
                width: 50px;
                padding-right: 25px;

                svg {
                    stroke: "blue";
                    fill: "purple";
                }
            }

            .text {}
        }
    }

    .points {
        .card-row {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            .card {
                &:hover {
                    background-color: var(--clr-2);
                }

                flex:1;
                margin: 30px;
                @include shadow-2();
                background-color: var(--clr-3-lighter);
                padding: 30px;
                border-radius: 25px;

                .title {
                    font-size: larger;
                    text-decoration: underline;
                    text-align: center;
                    padding: 10px;


                }

                ul {
                    list-style-image: url('./imgs/star.svg');

                    li {}
                }
            }
        }
    }
}


.sec-4 {
    .reviews {
        display: flex;

        .review {
            //background-color: var(--clr-4);
            //background-color: var(--clr-2-darker);
            background: linear-gradient(var(--clr-2), var(--clr-3));
            @include shadow-1();
            flex: 1;
            margin: 30px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            * {}

            .content {
                .title {
                    font-size: 4.5rem;
                    padding-left: 4%;
                }

                .text {
                    padding-left: 4%;
                }
            }

            .person {
                position: relative;
                margin-top: 35px;
                padding: 3%;

                .face {
                    height: 75px;
                    width: 75px;
                    border-radius: 50%;
                    display: inline-block;
                    padding-right: 5%;
                    filter: grayscale(100%);

                }

                .pcontent {

                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);

                    .pname {}

                    .info {}
                }
            }

        }
    }
}

.sec-5 {
    .part1 {
        display: flex;

        .about {
            flex: 3;

            .title {
                font-size: var(--fs-title);
                text-decoration: underline;
            }

            .text {
                padding: 15px;
                padding-right: 50px;
            }
        }

        .vid {
            flex: 2;
            margin: auto;

            video {
                object-fit: cover !important;
                width: 100%;
            }
        }
    }

    .part2 {
        display: flex;
        justify-content: center;
        align-items: center;
        .gg-container {
            width: 100%;
            .gg-box {
                img {
                    transition:500ms;
                    
                    &:hover {
                        transform: scale(1.1);
                        z-index: 10;
                        filter: brightness(75%);
                    }
                }
            }
        }
        
    }

}

.sec-6 {
    padding-bottom: 0px;
    margin-bottom: 0px;

    #sec_6_title {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #sec_6_subtitle {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 30px;
    }


    .counters-wraper {
        border-radius: 25px;
        @include shadow-3();
        padding: 20px;
        background-color: var(--clr-2);
        .text {

            font-size: var(--fs-small-title);
        }

        .numbers {
            display: flex;
            justify-content: space-around;

            .number {
                .num {
                    font-size: var(--fs-title);
                    text-align: center;
                    font-weight: bold;
                }

                .deskription {}
            }
        }
    }
}

.sec-7 {
    display: flex;
    justify-content: center;
    align-items: center;

    .form {
        flex: 1;

        form {
            input[type=button] {
                width: 100%;
            }
        }
    }

    .map {
        flex: 1;

        #map {
            width: 100%;
            height: 100%;
        }
    }
}