:root {
    --fs-main: 1.5rem;
    --fs-small-title: 2rem;
    --fs-title: 3rem;

    --clr-1: #393D3F;
    --clr-2: #e7e7ec;
    --clr-2-darker: #dbdbe0;
    --clr-3: #C6C5B9;
    --clr-3-darker: #b6b5a9;
    --clr-3-lighter: #d8d7c9;
    --clr-4: #62929E;
    --clr-5: #546A7B;
    --clr-accent-1: #ff4800fa;
    --clr-accent-2: #e93d3dfa;

    //--clr-1: #75666D;
    //--clr-2: #D8DCE2;
    //--clr-3: #2E3E78;
    //--clr-4: #E9A025;


    --clr-text-1: #fff;
    --clr-text-2: #000;
    --clr-text-3: #000;

    --clr-hen-yellow: #FFC000;
    --clr-hen-yelow-light: #FBEC85;

    --clr-hen-blue: #2F82EA;
    --clr-hen-blue-light: #4B94EC;
}

.fw-bold {
    font-weight: bold;
    font-size: larger;
    ;
    display: inline-block;
}

@mixin shadow-1 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

@mixin shadow-2 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}

@mixin shadow-3 {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);

}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.button {


    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);

    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .3)), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
    background-image: linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));


    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 6px 20px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #bbb;
    overflow: visible;
    font: bold 13px arial, helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    color: #555;

    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

    -webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -ms-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    background-clip: padding-box;
    /* Fix bleeding */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .9);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    background-color: #eee;
    color: #555;
}

.button:active {
    background: #e9e9e9;
    position: relative;
    top: 1px;
    text-shadow: none;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

.button[disabled],
.button[disabled]:hover,
.button[disabled]:active {
    border-color: #eaeaea;
    background: #fafafa;
    cursor: default;
    position: static;
    color: #999;
    /* Usually, !important should be avoided but here it's really needed :) */
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

* {
    font-family: 'Barlow', sans-serif;
}

body {
    font-size: var(--fs-main);
    padding: 0px;
    margin: 0px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    @include shadow-1();
    background-color: var(--clr-2-darker);
    color: var(--clr-text-2);
    padding: 50px;
    margin: 50px;
    flex: 1;

    .text {
        text-align: center;
    }

    input {
        display: block;
        margin: auto;
        width: 90%;
        line-height: 2;
        margin-bottom: 40px;
    }

    input[type=button] {
        padding: 20px;
        margin: auto;
        width: 100%;

        color: var(--clr-text-2);
        font-size: larger;
        font-weight: bold;
        margin-bottom: 50px;
    }

    .button {
        background-color: var(--clr-hen-yellow);
        background-image: linear-gradient(top, rgba(255, 255, 255, 0.575), rgb(255, 217, 0));

        &:hover {
            background-image: linear-gradient(top, rgba(255, 255, 255, 0.575), rgb(253, 225, 63));
        }
    }
}

.sec {
    /*padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 50px;
    padding-top: 50px;*/
    
}

.sec-1 {

    padding: 0px;
    margin: 0px;
    height: 60vh;
    width: 100%;
    position: relative;

    .bg {
        .bg-wraper {
            //background: #4A93EC;
            //background: radial-gradient(circle, rgb(123, 228, 242) 0%, rgba(79,151,236,1) 4%, rgb(36, 64, 97) 100%);
            width: 100%;
            height: 100%;
            opacity: 0.6;
        }

        width: 100%;
        height: 100%;
        background-image: url("./imgs/header.jpg");

        background-repeat: no-repeat;
        //background-size: 100% 100%;
        background-size:cover;
        background-position-y:center;
        background-position-x: center;
        //background-attachment: fixed;



    }

    .content-wraper {
        //background-color: white;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 25px;

        //@include shadow-2();
        //padding: 35px;
        img {
            display: block;
        }

        .content {
            padding: 35px;
            //@include shadow-2();
            padding-left: 3%;

            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .part-1 {

                //font-size: var(--fs-main);
                span {
                    background-color: linear-gradient(top, #F9E886, #F9E886);
                }

                font-size: 2rem;

                span {

                    background-color: rgba(0, 0, 0, 0.705);

                }

                padding-bottom: 20px;
            }

            .part-2 {
                //font-size: var(--fs-title);
                font-size: 3rem;
                font-weight: bold;
                border-radius: 30px;
                //padding:15px 15px 10px 10px;
                background-color: #FFC000;
                border-color: #FFC000;

                &:hover {
                    background-color: #ffd65c;
                    color: #555;
                }
            }
        }
    }
}

.sec-2 {
    width: 100%;
    background-color: #FFFDD0; //var(--clr-2);
    color: var(--clr-text-2);

    .title {
        text-align: center;
        margin-block-start: 0.17em;
        margin-block-end: 0.17em;
        //font-size: var(--fs-title);
    }


    .main {
        display: flex;

        justify-content: start;
        align-items: start;
    
        .info {
            flex: 2;

            margin: auto;
            margin-top: 0;
            ul {
                padding-inline-start: 0px;
                list-style: none;

                li {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    padding-left: 10px;
                    padding-right: 10px;

                    img {
                        transform: translateY(20%);
                        padding-inline-end: 10px;
                        width: 35px;
                        height: 35px;
                    }

                    margin: auto;
                }
            }
        }

        .form {
            background-color: var(--clr-hen-blue);
            position: relative;
            border: 1px solid blue;
            margin-top: 0;

            @keyframes move-arrow {
                0% {
                    transform: translate(-90%, 200%) rotate(40deg) scale(1);

                }

                50% {
                    transform: translate(-90%, 200%) rotate(45deg) scale(1.2);

                }

                100% {
                    transform: translate(-90%, 200%) rotate(40deg) scale(1);

                }

                /*0% {
                    transform: translate(-90%,200%) rotate(35deg);
                }
                50% {
                    transform: translate(-90%,200%) rotate(45deg);
                }
                100% {
                    transform: translate(-90%,200%) rotate(35deg);
                }*/
            }

            .wraper {
                position: absolute;
                top: 0px;
                width: 220px;

                left: 0px;
                transform: translate(-90%, 200%) rotate(45deg);
                animation: move-arrow infinite 3s;
                @include shadow-2();
                $clr-arrow: var(--clr-hen-yellow);



                .arrow_box {
                    position: relative;

                    background: $clr-arrow;

                    #arrow_text_1 {}

                    #arrow_text_2 {}
                }

                .arrow_box:after,
                .arrow_box:before {
                    left: 100%;
                    top: 50%;
                    border: solid transparent;
                    content: "";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }

                .arrow_box:after {
                    border-color: rgba(186, 191, 46, 0);
                    border-left-color: $clr-arrow;
                    border-width: 45px;
                    margin-top: -45px;

                }

                .arrow_box:before {
                    border-color: rgba(245, 221, 0, 0);
                    border-left-color: $clr-arrow;
                    border-width: 45px;
                    margin-top: -45px;
                }
            }

            form {

                .text {
                    color: white;
                }

                label {
                    color: white;
                }

            }
        }
    }

    /*.bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        @include shadow-3();

        padding: 30px;
        background-color: var(--clr-2-darker);
        border-radius: 25px;

        .note {
            text-align: center;
        }
    }*/

}

@keyframes waring_animation {
    0% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.5);
    }
}

.sec-3 {
    background: var(--clr-hen-blue);
    color: var(--clr-text-1);
    background-image: url('./imgs/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    padding: 0px;
    width: 100%;

    .content-wraper {
        width: 100%;
        background-color: #1360be91;

        .note {
            padding-top: 75px;
            text-align: center;
            padding-bottom: 75px;
        }

        .warning {
            background-color: var(--clr-hen-yellow);
            text-align: center;
            @include shadow-2();
            border-radius: 25px;
            //background-color: var(--clr-3-lighter);
            padding: 20px;
            color: black;

            display: flex;

            justify-content: center;
            align-items: center;

            img {
                display: inline-block;
                animation-name: waring_animation;
                animation-duration: 2s;
                //transform: translateY(50%);
                animation-iteration-count: infinite;
            }

            .text {
                display: inline-block;
                font-size: larger;
                font-weight: bold;
            }



        }

        .content {
            .title {
                font-size: var(--fs-title);
            }

            .bullets {
                display: flex;
                justify-content: space-around;
                padding-bottom: 100px;

                .bullet {
                    @include shadow-2();
                    display: flex;
                    //background-color: var(--clr-3-lighter);
                    background-color: white;
                    color: black;
                    justify-content: center;
                    margin: 2%;
                    padding: 10px;
                    border-radius: 25px;
                    align-content: center;

                    .icon {
                        @keyframes dash {
                            0% {
                                stroke-dashoffset: 340;
                            }

                            100% {
                                stroke-dashoffset: 0;
                            }
                        }

                        width: 65px;
                        display: inline;
                        margin: auto;
                        padding-right: 10px;

                        svg {
                            .checkmark {
                                position: absolute;
                                stroke: rgba(0, 199, 27, 0.746);
                                fill: none;
                                stroke-dashoffset: 0;
                                stroke-dasharray: 360;
                                -webkit-animation: dash .5s ease-out forwards;
                                animation: dash .75s ease-out forwards;
                                opacity: 1;
                            }
                        }
                    }

                    .text {
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }


        }

        .cta-block {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 100px;

            @keyframes grow-slow {
                0% {
                    transform: scale(1);
                }

                90% {
                    transform: scale(1);
                }

                95% {
                    transform: scale(0.9);
                }

                100% {
                    transform: scale(1.1);
                }
            }

            button {
                @include shadow-1();
                padding: 20px;
                //background-color: var(--clr-accent-1);
                background-color: var(--clr-hen-yellow);
                color: var(--clr-text-3);
                font-size: large;
                font-weight: bold;
                display: inline-block;
                margin-right: 80px;
                animation: grow-slow 10s infinite alternate;

                &:hover {}
            }

            .wraper {
                @include shadow-2();
                //background-color: #7070f3;
                padding: 25px;
                border-radius: 25px;
                display: flex;
                //background-color: var(--clr-3-lighter);
                background-color: white;
                color: black;
                justify-content: center;
                align-items: center;

                img {
                    width: 50px;
                    padding-right: 25px;

                    svg {
                        stroke: "blue";
                        fill: "purple";
                    }
                }

                .text {}
            }
        }

        .points {
            .card-row {
                display: flex;
                justify-content: space-between;
                flex-direction: row;

                .card {
                    &:hover {
                        //background-color: var(--clr-2);
                    }

                    flex:1;
                    margin: 30px;
                    @include shadow-2();
                    //background-color: var(--clr-3-lighter);
                    background-color: white;
                    padding: 30px;
                    border-radius: 25px;
                    color:black;

                    .title {
                        font-size: larger;
                        text-decoration: underline;
                        text-align: center;
                        padding: 10px;

                        span {
                            background-color: yellow;
                            font-weight: bold;
                        }


                    }

                    ul {
                        //list-style-image: url('./imgs/star.png');
                        list-style:none;
                        margin-block-end: 0em;
                        padding-inline-start: 0px;

                        li {
                            margin: 0;
                            padding: 14px 0 14px 45px;
                            list-style: none;
                            background-image: url("./imgs/star.png");
                            background-repeat: no-repeat;
                            background-position: left center;
                            background-size: 36px;
                            
                        }
                    }
                }
            }
        }
    }
}


.sec-4 {
    h1 {
        text-align: center;
        background-color: #000;
        color: white;
    }

    .reviews {
        display: flex;

        .review {
            //background: linear-gradient(var(--clr-2), var(--clr-3));
            background: linear-gradient(#f7f0c6, var(--clr-hen-yelow-light));
            @include shadow-1();
            flex: 1;
            margin: 30px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            * {}

            .content {
                .title {
                    font-size: 4.5rem;
                    padding-left: 4%;
                }

                .text {
                    padding-left: 4%;
                }
            }

            .person {
                position: relative;
                margin-top: 35px;
                padding: 3%;

                .face {
                    height: 75px;
                    width: 75px;
                    border-radius: 50%;
                    display: inline-block;
                    padding-right: 5%;
                    filter: grayscale(100%);

                }

                .pcontent {

                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);

                    .pname {}

                    .info {}
                }
            }

        }
    }
}

.sec-5 {
    .part1 {
        display: flex;
        background-color: #e9e7e7;
        border-radius: 35px;
        .about {
            flex: 3;

            .title {
                //font-size: var(--fs-title);
                //text-align: center;
                text-decoration: underline;
                margin-block-start: 0.1em;
                margin-block-end: 0.1em;
            }

            .text {
                padding: 15px;
                padding-right: 50px;
            }
        }

        .vid {
            flex: 2;
            margin: auto;

            video {
                object-fit: cover !important;
                width: 100%;
            }
        }
    }

    .part2 {
        .swiper {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
          }
    
          .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            
          }
    
          .swiper-slide img {
            display: block;
            //width: 100%;
            width: 300px;
            
          }
/*
        .gg-container {
            width: 100%;

            .gg-box {
                img {
                    transition: 500ms;

                    &:hover {
                        transform: scale(1.1);
                        z-index: 10;
                        filter: brightness(75%);
                    }
                }
            }
        }
*/
    }

}

.sec-6 {
    padding-bottom: 0px;
    margin-bottom: 0px;

    #sec_6_title {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #sec_6_subtitle {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 30px;

        .red-pen {
            display: inline-block;
            color: red; //#2d6c90;
            text-decoration: none;
            position: relative;
            padding: 14px 0;
            font-family: 'Muli', sans-serif;
            font-weight: 300;
            font-size: 22px;
            line-height: 1;
            letter-spacing: 0.040em;

            svg {
                fill: none;
                stroke: red;
                stroke-width: 2;
                stroke-miterlimit: 10;
                stroke-dasharray: 338;
                stroke-dashoffset: 338;
                stroke-linecap: round;
                position: absolute;
                top: 50%;
                left: 50%;
                width: calc(100% + 60px);
                opacity: 0;
                transform: translate(-50%, -50%);
                transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
                z-index: -1;
            }

            &:active svg,
            &:hover svg {
                stroke-dashoffset: 0;
                opacity: 1;
                transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            }
        }
    }


    .counters-wraper {
        border-radius: 25px;
        @include shadow-3();
        padding: 20px;
        //background-color: var(--clr-2);
        background-color: var(--clr-hen-blue-light);

        .text {

            font-size: var(--fs-small-title);
        }

        .numbers {
            display: flex;
            justify-content: space-around;

            .number {
                .num {
                    font-size: var(--fs-title);
                    text-align: center;
                    font-weight: bold;
                }

                .deskription {}
            }
        }
    }
}

.sec-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

    .form {
        //background: linear-gradient(var(--clr-hen-blue);
        background: rgb(95, 162, 242);
        background: radial-gradient(circle, var(--clr-hen-blue) 4%, #1360be 50%, #1360be 85%);

        .text {
            font-size: larger;
            font-weight: bold;
            padding-bottom: 40px;
            padding-top: 40px;
            color: white;
        }

        width: 90%;
        flex: 1;

        form {
            label {
                color: white;
            }

            input[type=button] {
                width: 100%;
            }
        }

        .button {
            margin-bottom: 0px;
        }
    }

    .map {
        flex: 1;

        #map {
            width: 100%;
            height: 100%;
        }
    }
}