:root {
  --fs-main: 1.5rem;
  --fs-small-title: 2rem;
  --fs-title: 3rem;
  --clr-1: #393D3F;
  --clr-2: #e7e7ec;
  --clr-2-darker: #dbdbe0;
  --clr-3: #C6C5B9;
  --clr-3-darker: #b6b5a9;
  --clr-3-lighter: #d8d7c9;
  --clr-4: #62929E;
  --clr-5: #546A7B;
  --clr-accent-1: #ff4800fa;
  --clr-accent-2: #e93d3dfa;
  --clr-text-1: #fff;
  --clr-text-2: #000;
  --clr-text-3: #000;
}

.fw-bold {
  font-weight: bold;
  font-size: larger;
  display: inline-block;
}

* {
  font-family: 'Barlow', sans-serif;
}

body {
  font-size: var(--fs-main);
  padding: 0px;
  margin: 0px;
}

.form {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background-color: var(--clr-2-darker);
  color: var(--clr-text-2);
  padding: 50px;
  margin: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form .text {
  text-align: center;
}

.form input {
  display: block;
  margin: auto;
  width: 90%;
  line-height: 2;
  margin-bottom: 40px;
}

.form input[type=button] {
  padding: 20px;
  margin: auto;
  width: 100%;
  background-color: var(--clr-accent-1);
  color: var(--clr-text-1);
  font-size: larger;
  font-weight: bold;
  margin-bottom: 50px;
}

.sec {
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 50px;
  padding-top: 50px;
}

.sec-1 {
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

.sec-1 .bg {
  background-color: var(--clr-2);
  color: var(--clr-text-1);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  background-image: url("./imgs/home.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.sec-1 .bg .wraper {
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--clr-1);
  padding: 35px;
}

.sec-1 .bg .wraper .content {
  padding-left: 3%;
}

.sec-1 .bg .wraper .content .part-1 {
  font-size: var(--fs-main);
}

.sec-1 .bg .wraper .content .part-2 {
  font-size: var(--fs-title);
  font-weight: bold;
}

.sec-1 .bg .wraper .content .part-3 {
  font-size: var(--fs-main);
}

.sec-2 {
  background-color: var(--clr-2);
  color: var(--clr-text-2);
}

.sec-2 .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec-2 .main .info {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: auto;
}

.sec-2 .main .info ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  list-style: none;
}

.sec-2 .main .info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.sec-2 .main .info ul li img {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-padding-end: 10px;
          padding-inline-end: 10px;
  width: 35px;
  height: 35px;
}

.sec-2 .main .form {
  position: relative;
}

@-webkit-keyframes move-arrow {
  0% {
    -webkit-transform: translate(-90%, 200%) rotate(40deg) scale(1);
            transform: translate(-90%, 200%) rotate(40deg) scale(1);
  }
  50% {
    -webkit-transform: translate(-90%, 200%) rotate(45deg) scale(1.2);
            transform: translate(-90%, 200%) rotate(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: translate(-90%, 200%) rotate(40deg) scale(1);
            transform: translate(-90%, 200%) rotate(40deg) scale(1);
  }
  /*0% {
                    transform: translate(-90%,200%) rotate(35deg);
                }
                50% {
                    transform: translate(-90%,200%) rotate(45deg);
                }
                100% {
                    transform: translate(-90%,200%) rotate(35deg);
                }*/
}

@keyframes move-arrow {
  0% {
    -webkit-transform: translate(-90%, 200%) rotate(40deg) scale(1);
            transform: translate(-90%, 200%) rotate(40deg) scale(1);
  }
  50% {
    -webkit-transform: translate(-90%, 200%) rotate(45deg) scale(1.2);
            transform: translate(-90%, 200%) rotate(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: translate(-90%, 200%) rotate(40deg) scale(1);
            transform: translate(-90%, 200%) rotate(40deg) scale(1);
  }
  /*0% {
                    transform: translate(-90%,200%) rotate(35deg);
                }
                50% {
                    transform: translate(-90%,200%) rotate(45deg);
                }
                100% {
                    transform: translate(-90%,200%) rotate(35deg);
                }*/
}

.sec-2 .main .form .wraper {
  position: absolute;
  top: 0px;
  width: 220px;
  left: 0px;
  -webkit-transform: translate(-90%, 200%) rotate(45deg);
          transform: translate(-90%, 200%) rotate(45deg);
  -webkit-animation: move-arrow infinite 3s;
          animation: move-arrow infinite 3s;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.sec-2 .main .form .wraper .arrow_box {
  position: relative;
  background: #62929E;
}

.sec-2 .main .form .wraper .arrow_box:after, .sec-2 .main .form .wraper .arrow_box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.sec-2 .main .form .wraper .arrow_box:after {
  border-color: rgba(186, 191, 46, 0);
  border-left-color: #62929E;
  border-width: 45px;
  margin-top: -45px;
}

.sec-2 .main .form .wraper .arrow_box:before {
  border-color: rgba(245, 221, 0, 0);
  border-left-color: #62929E;
  border-width: 45px;
  margin-top: -45px;
}

.sec-2 .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
  padding: 30px;
  background-color: var(--clr-2-darker);
  border-radius: 25px;
}

.sec-2 .bottom .note {
  text-align: center;
}

@-webkit-keyframes waring_animation {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes waring_animation {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.sec-3 {
  background-color: var(--clr-3);
  color: var(--clr-text-3);
}

.sec-3 .warning {
  text-align: center;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 25px;
  background-color: var(--clr-3-lighter);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-3 .warning img {
  display: inline-block;
  -webkit-animation-name: waring_animation;
          animation-name: waring_animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.sec-3 .warning .text {
  display: inline-block;
  font-size: larger;
  font-weight: bold;
}

.sec-3 .content .title {
  font-size: var(--fs-title);
}

.sec-3 .content .bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 100px;
}

.sec-3 .content .bullets .bullet {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--clr-3-lighter);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2%;
  padding: 10px;
  border-radius: 25px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.sec-3 .content .bullets .bullet .icon {
  width: 65px;
  display: inline;
}

.sec-3 .content .bullets .bullet .text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sec-3 .cta-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}

.sec-3 .cta-block button {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 20px;
  background-color: var(--clr-accent-1);
  color: var(--clr-text-1);
  font-size: large;
  font-weight: bold;
  display: inline-block;
  margin-right: 80px;
}

.sec-3 .cta-block .wraper {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 25px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--clr-3-lighter);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-3 .cta-block .wraper img {
  width: 50px;
  padding-right: 25px;
}

.sec-3 .cta-block .wraper img svg {
  stroke: "blue";
  fill: "purple";
}

.sec-3 .points .card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sec-3 .points .card-row .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 30px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: var(--clr-3-lighter);
  padding: 30px;
  border-radius: 25px;
}

.sec-3 .points .card-row .card:hover {
  background-color: var(--clr-2);
}

.sec-3 .points .card-row .card .title {
  font-size: larger;
  text-decoration: underline;
  text-align: center;
  padding: 10px;
}

.sec-3 .points .card-row .card ul {
  list-style-image: url("./imgs/star.svg");
}

.sec-4 .reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec-4 .reviews .review {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--clr-2)), to(var(--clr-3)));
  background: linear-gradient(var(--clr-2), var(--clr-3));
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 30px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sec-4 .reviews .review .content .title {
  font-size: 4.5rem;
  padding-left: 4%;
}

.sec-4 .reviews .review .content .text {
  padding-left: 4%;
}

.sec-4 .reviews .review .person {
  position: relative;
  margin-top: 35px;
  padding: 3%;
}

.sec-4 .reviews .review .person .face {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: inline-block;
  padding-right: 5%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.sec-4 .reviews .review .person .pcontent {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sec-5 .part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec-5 .part1 .about {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.sec-5 .part1 .about .title {
  font-size: var(--fs-title);
  text-decoration: underline;
}

.sec-5 .part1 .about .text {
  padding: 15px;
  padding-right: 50px;
}

.sec-5 .part1 .vid {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: auto;
}

.sec-5 .part1 .vid video {
  -o-object-fit: cover !important;
     object-fit: cover !important;
  width: 100%;
}

.sec-5 .part2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-5 .part2 .gg-container {
  width: 100%;
}

.sec-5 .part2 .gg-container .gg-box img {
  -webkit-transition: 500ms;
  transition: 500ms;
}

.sec-5 .part2 .gg-container .gg-box img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 10;
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
}

.sec-6 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.sec-6 #sec_6_title {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.sec-6 #sec_6_subtitle {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.sec-6 .text {
  font-size: var(--fs-small-title);
}

.sec-6 .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sec-6 .numbers .number .num {
  font-size: var(--fs-title);
  text-align: center;
  font-weight: bold;
}

.sec-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-7 .form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sec-7 .form form input[type=button] {
  width: 100%;
}

.sec-7 .map {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sec-7 .map #map {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */