:root {
  --fs-main: 1.5rem;
  --fs-small-title: 2rem;
  --fs-title: 3rem;
  --clr-1: #393D3F;
  --clr-2: #e7e7ec;
  --clr-2-darker: #dbdbe0;
  --clr-3: #C6C5B9;
  --clr-3-darker: #b6b5a9;
  --clr-3-lighter: #d8d7c9;
  --clr-4: #62929E;
  --clr-5: #546A7B;
  --clr-accent-1: #ff4800fa;
  --clr-accent-2: #e93d3dfa;
  --clr-text-1: #fff;
  --clr-text-2: #000;
  --clr-text-3: #000;
  --clr-hen-yellow: #FFC000;
  --clr-hen-yelow-light: #FBEC85;
  --clr-hen-blue: #2F82EA;
  --clr-hen-blue-light: #4B94EC;
}

.fw-bold {
  font-weight: bold;
  font-size: larger;
  display: inline-block;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.button {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #555;
  background-color: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(top, white, rgba(255, 255, 255, 0));
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  background-clip: padding-box;
  /* Fix bleeding */
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  background-color: #eee;
  color: #555;
}

.button:active {
  background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
}

.button[disabled],
.button[disabled]:hover,
.button[disabled]:active {
  border-color: #eaeaea;
  background: #fafafa;
  cursor: default;
  position: static;
  color: #999;
  /* Usually, !important should be avoided but here it's really needed :) */
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

* {
  font-family: 'Barlow', sans-serif;
}

body {
  font-size: var(--fs-main);
  padding: 0px;
  margin: 0px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background-color: var(--clr-2-darker);
  color: var(--clr-text-2);
  padding: 50px;
  margin: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form .text {
  text-align: center;
}

.form input {
  display: block;
  margin: auto;
  width: 90%;
  line-height: 2;
  margin-bottom: 40px;
}

.form input[type=button] {
  padding: 20px;
  margin: auto;
  width: 100%;
  color: var(--clr-text-2);
  font-size: larger;
  font-weight: bold;
  margin-bottom: 50px;
}

.form .button {
  background-color: var(--clr-hen-yellow);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.575)), to(#ffd900));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.575), #ffd900);
}

.form .button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.575)), to(#fde13f));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.575), #fde13f);
}

.sec {
  /*padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 50px;
    padding-top: 50px;*/
}

.sec-1 {
  padding: 0px;
  margin: 0px;
  height: 60vh;
  width: 100%;
  position: relative;
}

.sec-1 .bg {
  width: 100%;
  height: 100%;
  background-image: url("./imgs/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}

.sec-1 .bg .bg-wraper {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.sec-1 .content-wraper {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
}

.sec-1 .content-wraper img {
  display: block;
}

.sec-1 .content-wraper .content {
  padding: 35px;
  padding-left: 3%;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sec-1 .content-wraper .content .part-1 {
  font-size: 2rem;
  padding-bottom: 20px;
}

.sec-1 .content-wraper .content .part-1 span {
  background-color: linear-gradient(top, #F9E886, #F9E886);
}

.sec-1 .content-wraper .content .part-1 span {
  background-color: rgba(0, 0, 0, 0.705);
}

.sec-1 .content-wraper .content .part-2 {
  font-size: 3rem;
  font-weight: bold;
  border-radius: 30px;
  background-color: #FFC000;
  border-color: #FFC000;
}

.sec-1 .content-wraper .content .part-2:hover {
  background-color: #ffd65c;
  color: #555;
}

.sec-2 {
  width: 100%;
  background-color: #FFFDD0;
  color: var(--clr-text-2);
  /*.bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        @include shadow-3();

        padding: 30px;
        background-color: var(--clr-2-darker);
        border-radius: 25px;

        .note {
            text-align: center;
        }
    }*/
}

.sec-2 .title {
  text-align: center;
  -webkit-margin-before: 0.17em;
          margin-block-start: 0.17em;
  -webkit-margin-after: 0.17em;
          margin-block-end: 0.17em;
}

.sec-2 .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.sec-2 .main .info {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: auto;
  margin-top: 0;
}

.sec-2 .main .info ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  list-style: none;
}

.sec-2 .main .info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.sec-2 .main .info ul li img {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-padding-end: 10px;
          padding-inline-end: 10px;
  width: 35px;
  height: 35px;
}

.sec-2 .main .form {
  background-color: var(--clr-hen-blue);
  position: relative;
  border: 1px solid blue;
  margin-top: 0;
}

@-webkit-keyframes move-arrow {
  0% {
    -webkit-transform: translate(-90%, 200%) rotate(40deg) scale(1);
            transform: translate(-90%, 200%) rotate(40deg) scale(1);
  }
  50% {
    -webkit-transform: translate(-90%, 200%) rotate(45deg) scale(1.2);
            transform: translate(-90%, 200%) rotate(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: translate(-90%, 200%) rotate(40deg) scale(1);
            transform: translate(-90%, 200%) rotate(40deg) scale(1);
  }
  /*0% {
                    transform: translate(-90%,200%) rotate(35deg);
                }
                50% {
                    transform: translate(-90%,200%) rotate(45deg);
                }
                100% {
                    transform: translate(-90%,200%) rotate(35deg);
                }*/
}

@keyframes move-arrow {
  0% {
    -webkit-transform: translate(-90%, 200%) rotate(40deg) scale(1);
            transform: translate(-90%, 200%) rotate(40deg) scale(1);
  }
  50% {
    -webkit-transform: translate(-90%, 200%) rotate(45deg) scale(1.2);
            transform: translate(-90%, 200%) rotate(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: translate(-90%, 200%) rotate(40deg) scale(1);
            transform: translate(-90%, 200%) rotate(40deg) scale(1);
  }
  /*0% {
                    transform: translate(-90%,200%) rotate(35deg);
                }
                50% {
                    transform: translate(-90%,200%) rotate(45deg);
                }
                100% {
                    transform: translate(-90%,200%) rotate(35deg);
                }*/
}

.sec-2 .main .form .wraper {
  position: absolute;
  top: 0px;
  width: 220px;
  left: 0px;
  -webkit-transform: translate(-90%, 200%) rotate(45deg);
          transform: translate(-90%, 200%) rotate(45deg);
  -webkit-animation: move-arrow infinite 3s;
          animation: move-arrow infinite 3s;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.sec-2 .main .form .wraper .arrow_box {
  position: relative;
  background: var(--clr-hen-yellow);
}

.sec-2 .main .form .wraper .arrow_box:after,
.sec-2 .main .form .wraper .arrow_box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.sec-2 .main .form .wraper .arrow_box:after {
  border-color: rgba(186, 191, 46, 0);
  border-left-color: var(--clr-hen-yellow);
  border-width: 45px;
  margin-top: -45px;
}

.sec-2 .main .form .wraper .arrow_box:before {
  border-color: rgba(245, 221, 0, 0);
  border-left-color: var(--clr-hen-yellow);
  border-width: 45px;
  margin-top: -45px;
}

.sec-2 .main .form form .text {
  color: white;
}

.sec-2 .main .form form label {
  color: white;
}

@-webkit-keyframes waring_animation {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes waring_animation {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.sec-3 {
  background: var(--clr-hen-blue);
  color: var(--clr-text-1);
  background-image: url("./imgs/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  padding: 0px;
  width: 100%;
}

.sec-3 .content-wraper {
  width: 100%;
  background-color: #1360be91;
}

.sec-3 .content-wraper .note {
  padding-top: 75px;
  text-align: center;
  padding-bottom: 75px;
}

.sec-3 .content-wraper .warning {
  background-color: var(--clr-hen-yellow);
  text-align: center;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 25px;
  padding: 20px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-3 .content-wraper .warning img {
  display: inline-block;
  -webkit-animation-name: waring_animation;
          animation-name: waring_animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.sec-3 .content-wraper .warning .text {
  display: inline-block;
  font-size: larger;
  font-weight: bold;
}

.sec-3 .content-wraper .content .title {
  font-size: var(--fs-title);
}

.sec-3 .content-wraper .content .bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 100px;
}

.sec-3 .content-wraper .content .bullets .bullet {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2%;
  padding: 10px;
  border-radius: 25px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.sec-3 .content-wraper .content .bullets .bullet .icon {
  width: 65px;
  display: inline;
  margin: auto;
  padding-right: 10px;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 340;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 340;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.sec-3 .content-wraper .content .bullets .bullet .icon svg .checkmark {
  position: absolute;
  stroke: rgba(0, 199, 27, 0.746);
  fill: none;
  stroke-dashoffset: 0;
  stroke-dasharray: 360;
  -webkit-animation: dash .5s ease-out forwards;
  animation: dash .75s ease-out forwards;
  opacity: 1;
}

.sec-3 .content-wraper .content .bullets .bullet .text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sec-3 .content-wraper .cta-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}

@-webkit-keyframes grow-slow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes grow-slow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.sec-3 .content-wraper .cta-block button {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 20px;
  background-color: var(--clr-hen-yellow);
  color: var(--clr-text-3);
  font-size: large;
  font-weight: bold;
  display: inline-block;
  margin-right: 80px;
  -webkit-animation: grow-slow 10s infinite alternate;
          animation: grow-slow 10s infinite alternate;
}

.sec-3 .content-wraper .cta-block .wraper {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 25px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-3 .content-wraper .cta-block .wraper img {
  width: 50px;
  padding-right: 25px;
}

.sec-3 .content-wraper .cta-block .wraper img svg {
  stroke: "blue";
  fill: "purple";
}

.sec-3 .content-wraper .points .card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sec-3 .content-wraper .points .card-row .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 30px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  padding: 30px;
  border-radius: 25px;
  color: black;
}

.sec-3 .content-wraper .points .card-row .card .title {
  font-size: larger;
  text-decoration: underline;
  text-align: center;
  padding: 10px;
}

.sec-3 .content-wraper .points .card-row .card .title span {
  background-color: yellow;
  font-weight: bold;
}

.sec-3 .content-wraper .points .card-row .card ul {
  list-style: none;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.sec-3 .content-wraper .points .card-row .card ul li {
  margin: 0;
  padding: 14px 0 14px 45px;
  list-style: none;
  background-image: url("./imgs/star.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 36px;
}

.sec-4 h1 {
  text-align: center;
  background-color: #000;
  color: white;
}

.sec-4 .reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec-4 .reviews .review {
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f0c6), to(var(--clr-hen-yelow-light)));
  background: linear-gradient(#f7f0c6, var(--clr-hen-yelow-light));
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 30px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sec-4 .reviews .review .content .title {
  font-size: 4.5rem;
  padding-left: 4%;
}

.sec-4 .reviews .review .content .text {
  padding-left: 4%;
}

.sec-4 .reviews .review .person {
  position: relative;
  margin-top: 35px;
  padding: 3%;
}

.sec-4 .reviews .review .person .face {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: inline-block;
  padding-right: 5%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.sec-4 .reviews .review .person .pcontent {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sec-5 .part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e9e7e7;
  border-radius: 35px;
}

.sec-5 .part1 .about {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.sec-5 .part1 .about .title {
  text-decoration: underline;
  -webkit-margin-before: 0.1em;
          margin-block-start: 0.1em;
  -webkit-margin-after: 0.1em;
          margin-block-end: 0.1em;
}

.sec-5 .part1 .about .text {
  padding: 15px;
  padding-right: 50px;
}

.sec-5 .part1 .vid {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: auto;
}

.sec-5 .part1 .vid video {
  -o-object-fit: cover !important;
     object-fit: cover !important;
  width: 100%;
}

.sec-5 .part2 {
  /*
        .gg-container {
            width: 100%;

            .gg-box {
                img {
                    transition: 500ms;

                    &:hover {
                        transform: scale(1.1);
                        z-index: 10;
                        filter: brightness(75%);
                    }
                }
            }
        }
*/
}

.sec-5 .part2 .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sec-5 .part2 .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-5 .part2 .swiper-slide img {
  display: block;
  width: 300px;
}

.sec-6 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.sec-6 #sec_6_title {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.sec-6 #sec_6_subtitle {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.sec-6 #sec_6_subtitle .red-pen {
  display: inline-block;
  color: red;
  text-decoration: none;
  position: relative;
  padding: 14px 0;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0.040em;
}

.sec-6 #sec_6_subtitle .red-pen svg {
  fill: none;
  stroke: red;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 338;
  stroke-dashoffset: 338;
  stroke-linecap: round;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 60px);
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
  transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
  z-index: -1;
}

.sec-6 #sec_6_subtitle .red-pen:active svg,
.sec-6 #sec_6_subtitle .red-pen:hover svg {
  stroke-dashoffset: 0;
  opacity: 1;
  -webkit-transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.sec-6 .counters-wraper {
  border-radius: 25px;
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
  padding: 20px;
  background-color: var(--clr-hen-blue-light);
}

.sec-6 .counters-wraper .text {
  font-size: var(--fs-small-title);
}

.sec-6 .counters-wraper .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sec-6 .counters-wraper .numbers .number .num {
  font-size: var(--fs-title);
  text-align: center;
  font-weight: bold;
}

.sec-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.sec-7 .form {
  background: #5fa2f2;
  background: radial-gradient(circle, var(--clr-hen-blue) 4%, #1360be 50%, #1360be 85%);
  width: 90%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sec-7 .form .text {
  font-size: larger;
  font-weight: bold;
  padding-bottom: 40px;
  padding-top: 40px;
  color: white;
}

.sec-7 .form form label {
  color: white;
}

.sec-7 .form form input[type=button] {
  width: 100%;
}

.sec-7 .form .button {
  margin-bottom: 0px;
}

.sec-7 .map {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sec-7 .map #map {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */