body {
  margin: 0px;
  padding: 0px;
}

:root {
  --text-clr-light: white;
  --clr-1: #e8e83c;
  --border-radius: 30px;
  --btn-bg-clr: #ffd31152;
  --btn-clr-1: rgb(255, 208, 0);
  --btn-clr-2: rgb(255, 255, 0);
  --strip-light-1:rgba(255, 255, 255, 0.7);
  --strip-light-2:rgba(94, 94, 247, 0.5);
  --strip-light-3:rgba(37, 37, 124, 0.5);
  --strip-light-4: rgba(18, 18, 63, 0.705);
  --main-clr:rgba(94, 94, 247,1);
  --basic-width:85%;
}

* {
  font-family: 'Barlow', sans-serif;
}

.fw-bold {
  display: inline;
  font-weight: bold;
}

/* CSS */
.button-77 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-77 {
    padding: 19px 32px;
  }
}

.button-77:before,
.button-77:after {
  border-radius: 80px;
}

.button-77:before {
  background-color: var(--btn-bg-clr);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-77:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, var(--btn-clr-1) 0, var(--btn-clr-2) 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-77:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
  color: #ccc;
}

.button-77:active:not(:disabled):after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(92.83deg, var(--btn-clr-1) 0, var(--btn-clr-2) 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-77:disabled {
  cursor: default;
  opacity: .24;
}

main .page-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
}

main .page-1 .bg-img {
  width: 100%;
  height: 100%;
  background-image: url(../imgs/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
}

main .page-1 .header-wraper {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*
            --btn-bg-clr: #f93a1352;
            --btn-clr-1: #ff7426;
            --btn-clr-2: #f93a13;*/
}

main .page-1 .header-wraper .header {
  color: var(--text-clr-light);
  text-align: center;
}

main .page-1 .content-wraper-2 {
  color: white;
  padding-top: 20px;
  width: 100%;
  background-color: var(--strip-light-1);
  -webkit-clip-path: polygon(0 0, 100% 150px, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 150px, 100% 85%, 0 100%);
}

main .page-1 .content-wraper-2 .content-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  padding-top: 50px;
  width: 100%;
  background-color: var(--strip-light-2);
  -webkit-clip-path: polygon(0 0, 100% 150px, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 150px, 100% 100%, 0% 100%);
}

main .page-1 .content-wraper-2 .content-wraper .content {
  width: 100%;
  background-color: var(--main-clr);
  padding-top: 150px;
  -webkit-clip-path: polygon(0 0, 100% 150px, 100% 80%, 0% 97%);
          clip-path: polygon(0 0, 100% 150px, 100% 80%, 0% 97%);
}

main .page-1 .content-wraper-2 .content-wraper .content .inner {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: var(--basic-width);
  padding-bottom: 150px;
}

main .page-1 .content-wraper-2 .content-wraper .content .inner .part-1 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

main .page-1 .content-wraper-2 .content-wraper .content .inner .part-1 .list-text {
  width: 90%;
}

main .page-1 .content-wraper-2 .content-wraper .content .inner .part-1 .list-text ul {
  font-size: x-large;
}

main .page-1 .content-wraper-2 .content-wraper .content .inner .part-1 .list-text .text {
  font-size: x-large;
}

main .page-1 .content-wraper-2 .content-wraper .content .inner .part-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
}

main .page-1 .content-wraper-2 .content-wraper .content .inner .part-2 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  color: black;
}

main .page-1 .content-wraper-2 .content-wraper .content .inner .part-2 form h2 {
  margin: 2%;
}

main .page-1 .content-wraper-2 .content-wraper .content .inner .part-2 form .text {
  padding-top: 25px;
}

main .page-1 .content-wraper-2 .content-wraper .content .inner .part-2 form .fields {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

main .page-1 .content-wraper-2 .content-wraper .content .inner .part-2 form .fields label {
  font-size: x-large;
}

main .page-1 .content-wraper-2 .content-wraper .content .inner .part-2 form .fields input {
  display: block;
  margin: auto;
  width: 100%;
  line-height: 2;
  margin-bottom: 40px;
}

main .page-1 .content-wraper-2 .content-wraper .content .inner .part-2 form .fields .btn-wraper {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .page-1 .after-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  position: relative;
}

main .page-1 .after-form:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 50vh 0;
  border-color: transparent #666666 transparent transparent;
  right: 0;
  top: -100%;
  position: absolute;
  z-index: -1;
}

main .page-1 .after-form .after-form-corner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: var(--basic-width);
}

main .page-1 .after-form .after-form-corner .af-content {
  padding-right: 3%;
}

main .page-1 .after-form .after-form-corner .af-content .text {
  font-size: x-large;
}

main .page-2 {
  background-color: #ccc;
  -webkit-transform: skew(0deg, -5deg);
          transform: skew(0deg, -5deg);
}

main .page-2 .inner {
  padding-top: 50px;
  -webkit-transform: skew(0deg, 5deg);
          transform: skew(0deg, 5deg);
}

main .page-2 .inner .waring-extra {
  background-color: var(--strip-light-4);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
}

main .page-2 .inner .waring-extra .warning-wraper {
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: var(--main-clr);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 90%);
          clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 90%);
  text-align: center;
}

main .page-2 .inner .waring-extra .warning-wraper .warning-title {
  color: red;
}

main .page-2 .inner .to-get {
  color: white;
}

main .page-2 .inner .to-get h1 {
  width: var(--basic-width);
  margin: auto;
  padding-top: 60px;
}

main .page-2 .inner .to-get .bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 100px;
}

main .page-2 .inner .to-get .bullets .bullet:nth-child(1) .icon svg .checkmark {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

main .page-2 .inner .to-get .bullets .bullet:nth-child(2) .icon svg .checkmark {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

main .page-2 .inner .to-get .bullets .bullet:nth-child(3) .icon svg .checkmark {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

main .page-2 .inner .to-get .bullets .bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2%;
  padding: 10px;
  border-radius: 25px;
  -ms-flex-line-pack: center;
      align-content: center;
}

main .page-2 .inner .to-get .bullets .bullet .icon {
  width: 65px;
  display: inline;
  margin: auto;
  padding-right: 10px;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 340;
  }
  20% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 340;
  }
  20% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

main .page-2 .inner .to-get .bullets .bullet .icon svg .checkmark {
  position: absolute;
  stroke: rgba(0, 199, 27, 0.746);
  stroke-dashoffset: 0;
  stroke-dasharray: 360;
  -webkit-animation: dash 5s ease-out infinite;
          animation: dash 5s ease-out infinite;
  opacity: 1;
}

main .page-2 .inner .to-get .bullets .bullet .text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .page-2 .inner .action {
  width: var(--basic-width);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}

main .page-2 .inner .action button {
  padding: 20px;
  font-size: large;
  font-weight: bold;
  display: inline-block;
  margin-right: 80px;
}

main .page-2 .inner .action .note {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 25px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .page-2 .inner .action .note img {
  width: 50px;
  padding-right: 25px;
}

main .page-2 .inner .action .note img svg {
  stroke: "blue";
  fill: "purple";
}

main .points-wraper .points {
  position: relative;
  padding-bottom: 20px;
  z-index: 1;
}

main .points-wraper .points #card_trigger {
  position: absolute;
  top: 30%;
  left: 50%;
}

main .points-wraper .points .card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .points-wraper .points .card-row .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 30px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  color: black;
}

main .points-wraper .points .card-row .card .title {
  font-size: larger;
  text-align: center;
  padding: 20px;
  background-color: var(--main-clr);
}

main .points-wraper .points .card-row .card .title span {
  color: white;
  font-weight: bold;
}

main .points-wraper .points .card-row .card ul {
  list-style: none;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

main .points-wraper .points .card-row .card ul li {
  margin: 0;
  margin-bottom: 25px;
  list-style: none;
  position: relative;
  padding: 6px 0 0 30px;
}

main .points-wraper .points .card-row .card ul li:last-child {
  margin-bottom: 15px;
}

main .points-wraper .points .card-row .card ul li:before {
  background: url(../imgs/star.png) scroll 0 0 no-repeat;
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 0px;
  background-size: contain;
  background-position: center center;
}

main .points-yellow {
  width: 100%;
  height: 35px;
  background-color: #e8e83c;
  -webkit-transform: skew(0deg, -5deg);
          transform: skew(0deg, -5deg);
  z-index: -1;
}

main .sec-4 h1 {
  text-align: center;
  background-color: #000;
  color: white;
  padding-bottom: 15px;
  padding-top: 15px;
}

main .sec-4 .reviews {
  width: calc(var(--basic-width) + 10%);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .sec-4 .reviews .review {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#fde13f));
  background: linear-gradient(#ffffff, #fde13f);
  -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
          box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 30px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
}

main .sec-4 .reviews .review .content .title {
  font-size: 4.5rem;
  padding-left: 4%;
}

main .sec-4 .reviews .review .content .text {
  padding-left: 4%;
}

main .sec-4 .reviews .review .person {
  position: relative;
  margin-top: 35px;
  padding: 3%;
}

main .sec-4 .reviews .review .person .face {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: inline-block;
  padding-right: 5%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

main .sec-4 .reviews .review .person .pcontent {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .sec-4 .reviews .review .person .pcontent .pname {
  font-weight: bold;
}

main .sec-5 {
  position: relative;
  overflow-x: hidden;
}

main .sec-5 #part1_animation_trigger {
  position: absolute;
  top: 10%;
  left: 50%;
}

main .sec-5 .part1 {
  padding: 30px;
  width: var(--basic-width);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #dfd9d9;
  color: black;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 35px;
  margin-bottom: 30px;
}

main .sec-5 .part1 .about {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

main .sec-5 .part1 .about .title {
  text-decoration: underline;
  -webkit-margin-before: 0.1em;
          margin-block-start: 0.1em;
  -webkit-margin-after: 0.1em;
          margin-block-end: 0.1em;
  -webkit-margin-start: 15px;
          margin-inline-start: 15px;
}

main .sec-5 .part1 .about .text {
  padding: 15px;
  padding-right: 50px;
}

main .sec-5 .part1 .vid {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: auto;
}

main .sec-5 .part1 .vid video {
  -o-object-fit: cover !important;
     object-fit: cover !important;
  width: 100%;
}

main .sec-5 .part2 .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

main .sec-5 .part2 .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .sec-5 .part2 .swiper-slide img {
  display: block;
  width: 300px;
}
/*# sourceMappingURL=style.css.map */