
body {
    margin: 0px;
    padding:0px;
}
:root {
    --fs-main: 1.5rem;
    --fs-small-title: 2rem;
    --fs-title: 3rem;

    --text-clr-light: white;
    --clr-1: #e8e83c;
    --border-radius: 30px;


    --btn-bg-clr: #ffd31152;
    --btn-clr-1: rgb(255, 208, 0);
    --btn-clr-2: rgb(255, 255, 0);

    --strip-light-1:rgba(255, 255, 255, 0.7);
    --strip-light-2:rgba(94, 94, 247, 0.5);
    --strip-light-3:rgba(37, 37, 124, 0.5);
    --strip-light-4: rgba(18, 18, 63, 0.705);
    --main-clr:rgba(94, 94, 247,1);

    --basic-width:85%;
}

* {
    font-family: 'Barlow', sans-serif;
}

@mixin shadow-1 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}


@mixin shadow-2 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}

@mixin shadow-3 {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);

}

@mixin shadow-4 {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.fw-bold {
    display: inline;
    font-weight: bold;
}
/*
.form {
    @include shadow-1();
    background-color: var(--clr-2-darker);
    color: var(--clr-text-2);
    padding: 50px;
    margin: 50px;
    flex: 1;

    .text {
        text-align: center;
    }

    input {
        display: block;
        margin: auto;
        width: 90%;
        line-height: 2;
        margin-bottom: 40px;
    }

    input[type=submit] {
        padding: 20px;
        margin: auto;
        width: 100%;

        color: var(--clr-text-2);
        font-size: larger;
        font-weight: bold;
        margin-bottom: 50px;
    }

    .button {
        background-color: var(--clr-hen-yellow);
        background-image: linear-gradient(top, rgba(255, 255, 255, 0.575), rgb(255, 217, 0));

        &:hover {
            background-image: linear-gradient(top, rgba(255, 255, 255, 0.575), rgb(253, 225, 63));
        }
    }
}
*/
/* CSS */
.button-77 {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01,sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    min-height: 64px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
    }

    @media (min-width: 768px) {
    .button-77 {
        padding: 19px 32px;
    }
    }

    .button-77:before,
    .button-77:after {
    border-radius: 80px;
    }

    .button-77:before {
    background-color: var(--btn-bg-clr);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
    }

    .button-77:after {
    background-color: initial;
    background-image: linear-gradient(92.83deg, var(--btn-clr-1) 0, var(--btn-clr-2) 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
    }

    .button-77:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
    }

    .button-77:active:not(:disabled) {
    color: #ccc;
    }

    .button-77:active:not(:disabled):after {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, var(--btn-clr-1) 0, var(--btn-clr-2) 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
    }

    .button-77:disabled {
    cursor: default;
    opacity: .24;
    }

main {
    .page-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 50px;
        .bg-img {
            width: 100%;
            height: 100%;
            background-image: url(../imgs/header.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: center;
            background-position-x: center;
            position: absolute;
            z-index: -1;
            top:0px;
            left:0px;
            filter: brightness(0.3)
        }
        .header-wraper {
            //width: 100vw;
            height: 60vh;
            display: flex;
            justify-content: center;
            align-items: center;
            /*
            --btn-bg-clr: #f93a1352;
            --btn-clr-1: #ff7426;
            --btn-clr-2: #f93a13;*/
            

            
            .header {
                color:var(--text-clr-light);
                text-align: center;
                
            }
        }
        
        .content-wraper-2 {
            
            color: white;
            padding-top: 20px;
                width: 100%;
                background-color: var(--strip-light-1);
                clip-path:polygon(0 0, 100% 150px, 100% 85%, 0 100%);
                
            .content-wraper {
                display: flex;
                color: white;
                padding-top: 50px;
                width: 100%;
                background-color:  var(--strip-light-2);
                clip-path: polygon(0 0, 100% 150px, 100% 100%, 0% 100%);
                .content {
                    width: 100%;
                    background-color: var(--main-clr);
                    padding-top: 150px;
                    //clip-path: polygon(0 0, 100% 150px, 100% 100%, 0% 100%);
                    clip-path: polygon(0 0, 100% 150px, 100% 80%, 0% 97%);
                    .inner {
                        margin: auto;
                        display: flex;
                        width: var(--basic-width);
                        padding-bottom: 150px;
                        .part-1 {
                            flex:3;
                            .list-text {
                                width: 90%;
                                ul {
                                    font-size: x-large;
                                }
                                .text {
                                    font-size: x-large;
                                    
                                }
                                
                            }
                        }
                        .part-2 {
                            flex:2;
                            background-color: rgba(255, 255, 255, 0.5);
                            @include shadow-1();
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 25px;
                            form {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                width: 90%;
                                color: black;
                                
                                h2 {
                                    margin: 2%;
                                }
                                .text {
                                    padding-top: 25px;
                                }
                                .fields {
                                    width: 100%;
                                    padding-top: 25px;
                                    padding-bottom: 25px;
                                    label {
                                        font-size: x-large;
                                    }
                                    input {
                                        display: block;
                                        margin: auto;
                                        width: 100%;
                                        line-height: 2;
                                        margin-bottom: 40px;
                                    }

                                    .btn-wraper {
                                        margin: auto;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        
                                    }
                                }
                            }
                        }
                    }
                    

                }
            }
        }
        .after-form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            //width: var(--basic-width);
            width: 100%;
            

            position: relative;
                &:after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 100vw 50vh 0;
                    border-color: transparent rgb(102, 102, 102) transparent transparent;
                    right: 0;
                    top: -100%;
                    position: absolute;
                    z-index: -1;
                }
            .after-form-corner {
                //clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
                display: flex;
                justify-content: center;
                align-items: center;
                width: var(--basic-width);
                .af-content {
                    padding-right:3%;
                    .text {
                        font-size: x-large;
                    }
                }
            }
        }
        
    }
    .page-2 {
        background-color: #ccc;
        transform: skew(0deg,-5deg);
        .inner {
            padding-top: 50px;
            transform: skew(0deg,5deg);
            .waring-extra {
                background-color:var(--strip-light-4);
                clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
                .warning-wraper {
                    padding-bottom: 50px;
                    padding-top: 50px;
                    background-color: var(--main-clr);
                    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 90%);
                    text-align: center;
                    .warning-title {
                        color:red;
                    }
                }
            }
            .to-get {
                h1 {
                    width: var(--basic-width);
                    margin: auto;
                    padding-top: 60px;
                }
                color: white;
                .bullets {
                    display: flex;
                    justify-content: space-around;
                    padding-bottom: 100px;
                    .bullet:nth-child(1) .icon svg .checkmark {
                        animation-delay: 0ms;
                    }
                    .bullet:nth-child(2) .icon svg .checkmark {
                        animation-delay: 1s;
                    }
                    .bullet:nth-child(3) .icon svg .checkmark {
                        animation-delay: 2s;
                    }
                    .bullet {
                        display: flex;
                        //background-color: var(--clr-3-lighter);
                        background-color: white;
                        color: black;
                        justify-content: center;
                        margin: 2%;
                        padding: 10px;
                        border-radius: 25px;
                        align-content: center;

                        .icon {
                            @keyframes dash {
                                0% {
                                    stroke-dashoffset: 340;
                                    
                                }
                                20% {
                                    stroke-dashoffset: 0;
                                }
                                

                                100% {
                                    stroke-dashoffset: 0;
                                }
                            }

                            width: 65px;
                            display: inline;
                            margin: auto;
                            padding-right: 10px;

                            svg {
                                .checkmark {
                                    position: absolute;
                                    stroke: rgba(0, 199, 27, 0.746);
                                    //fill: none;
                                    stroke-dashoffset: 0;
                                    stroke-dasharray: 360;
                                    //-webkit-animation: dash .5s ease-out forwards;
                                    animation: dash 5s ease-out infinite;
                                    opacity: 1;
                                }
                            }
                            
                        }

                        .text {
                            position: relative;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
            .action {
                width: var(--basic-width);
                margin: auto;
                display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 100px;
            button {
                padding: 20px;
                font-size: large;
                font-weight: bold;
                display: inline-block;
                margin-right: 80px;
                &:hover {}
            }
                .note {
                    @include shadow-2();
                    //background-color: #7070f3;
                    padding: 25px;
                    border-radius: 25px;
                    display: flex;
                    //background-color: var(--clr-3-lighter);
                    background-color: white;
                    color: black;
                    justify-content: center;
                    align-items: center;
    
                    img {
                        width: 50px;
                        padding-right: 25px;
    
                        svg {
                            stroke: "blue";
                            fill: "purple";
                        }
                    }
    
                    .text {}
                }
                
            }
        }
    }

    .points-wraper  {
        //background-color: yellow;
        //padding-bottom: 100px;
        //clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 99%);

        .points {
            //background-color: #ccc;
            position: relative;
            padding-bottom: 20px;
            z-index: 1;
            #card_trigger {
                position: absolute;
                top:30%;
                left:50%;
            }
            .card-row {
                display: flex;
                justify-content: space-between;
                flex-direction: row;

                .card {
                    &:hover {
                        //background-color: var(--clr-2);
                    }

                    flex:1;
                    margin: 30px;
                    @include shadow-2();
                    //background-color: var(--clr-3-lighter);
                    background-color: white;
                    //padding: 30px;
                    //border-radius: 25px;
                    color:black;

                    .title {
                        font-size: larger;
                        //text-decoration: underline;
                        text-align: center;
                        padding: 20px;
                        background-color: var(--main-clr);

                        span {
                            //background-color: yellow;
                            color: white;
                            font-weight: bold;
                        }


                    }

                    ul {
                        //list-style-image: url('./imgs/star.png');
                        list-style:none;
                        margin-block-end: 0em;
                        padding-inline-start: 0px;
                        
                        li {
                            margin: 0;
                            margin-bottom: 25px;
                            //padding: 14px 0 14px 45px;
                            list-style: none;

                            position: relative;
                            padding: 6px 0 0 30px;
                            &:last-child {
                                margin-bottom: 15px;
                            }
                            
                        }
                        li:before {
                            background:url(../imgs/star.png) scroll 0 0 no-repeat;
                            //background: transparent url("sprite.png") scroll 0 0 no-repeat;
                            content:"";
                            width: 32px;
                            height: 32px;
                            position: absolute;
                            left: 0;
                            top: 0px;
                            background-size: contain;
                            background-position: center center;
                            
                            
                        }
                        //li:before { background-position: 0px -16px; }
                        
                    }
                }
            }
        }
    }
    .points-yellow {
        width: 100%;height: 35px;
        background-color: #e8e83c;
        transform: skew(0deg, -5deg);
        z-index: -1;
    }


    .sec-4 {
        
        h1 {
            text-align: center;
            background-color: #000;
            color: white;
            padding-bottom: 15px;
            padding-top: 15px;
        }
    
        .reviews {
            width: calc(var(--basic-width) + 10%);
            margin: auto;
            display: flex;
    
            .review {
                //background: linear-gradient(var(--clr-2), var(--clr-3));
                //ackground: linear-gradient(#f7f0c6, var(--clr-hen-yelow-light));
                background: linear-gradient(#ffffff, #fde13f);
                @include shadow-4();
                flex: 1;
                margin: 30px;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                border-top-right-radius: 45px;
                border-bottom-left-radius: 45px;
                * {}
    
                .content {
                    .title {
                        font-size: 4.5rem;
                        padding-left: 4%;
                    }
    
                    .text {
                        padding-left: 4%;
                    }
                }
    
                .person {
                    position: relative;
                    margin-top: 35px;
                    padding: 3%;
    
                    .face {
                        height: 75px;
                        width: 75px;
                        border-radius: 50%;
                        display: inline-block;
                        padding-right: 5%;
                        filter: grayscale(100%);
    
                    }
    
                    .pcontent {
    
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
    
                        .pname {
                            font-weight: bold;
                        }
    
                        .info {}
                    }
                }
    
            }
        }
    }

    .sec-5 {position: relative;
        overflow-x: hidden;
        #part1_animation_trigger {
            position: absolute;
            top:10%;
            left:50%;
        }
        .part1 {
            
            padding: 30px;
            width: var(--basic-width);
            margin: auto;
            display: flex;
            background-color: #dfd9d9;
            //background: radial-gradient(circle, var(--clr-hen-blue) 4%, #1360be 50%, #1360be 85%);
            color:black;
            @include shadow-1();
            border-radius: 35px;
            margin-bottom: 30px;
            .about {
                
                flex: 3;
    
                .title {
                    //font-size: var(--fs-title);
                    //text-align: center;
                    text-decoration: underline;
                    margin-block-start: 0.1em;
                    margin-block-end: 0.1em;
                    margin-inline-start: 15px;
                }
    
                .text {
                    padding: 15px;
                    padding-right: 50px;
                }
            }
    
            .vid {
                flex: 2;
                margin: auto;
    
                video {
                    object-fit: cover !important;
                    width: 100%;
                }
            }
        }
        .part2 {
            .swiper {
                width: 100%;
                padding-top: 50px;
                padding-bottom: 50px;
              }
        
              .swiper-slide {
                background-position: center;
                background-size: cover;
                width: 300px;
                height: 225px;
                display: flex;
                justify-content: center;
                align-items: center;
                
              }
        
              .swiper-slide img {
                display: block;
                //width: 100%;
                width: 300px;
                
              }
        }
    }


    .sec-6 {
        padding-top: 100px;
        #sec_6_title {
            padding-top: 0px;
            padding-bottom: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            width: var(--basic-width);
            margin: auto;
        }
    
        #sec_6_subtitle {
            padding-top: 0px;
            padding-bottom: 0px;
            margin-top: 0px;
            margin-bottom: 30px;
            width: var(--basic-width);
            margin: auto;
            .red-pen {
                display: inline-block;
                color: red; //#2d6c90;
                text-decoration: none;
                position: relative;
                padding: 14px 0;
                font-family: 'Muli', sans-serif;
                font-weight: 300;
                font-size: 22px;
                line-height: 1;
                letter-spacing: 0.040em;
    
                svg {
                    fill: none;
                    stroke: red;
                    stroke-width: 2;
                    stroke-miterlimit: 10;
                    stroke-dasharray: 338;
                    stroke-dashoffset: 338;
                    stroke-linecap: round;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: calc(100% + 60px);
                    opacity: 0;
                    transform: translate(-50%, -50%);
                    transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
                    z-index: -1;
                }
                &.active svg
                 {
                    stroke-dashoffset: 0;
                    opacity: 1;
                    transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
                }
                
            }
        }

        .yellow-wraper {
            background-color: #e8e83c;
            clip-path: polygon(0 210px, 100% 0, 100% 75%, 0% 75%);
            padding-top:150px;
            padding-bottom: 200px;
            //transform: translateY(-25px);
            .counter {
                position: relative;
                .counters-bg {
                    width: 100%;
                }
                
                    .counters-wraper {
                        position: absolute;
                        top: 50%;
                        left:50%;
                        transform: translate(-50%, -50%);
                        //@include shadow-3();
                        //padding: 20px;
                        //background-color: var(--clr-2);
                        //padding-top: 200px;
                        width: var(--basic-width);
                        color: white;
                        
                        
                        //width: 100%;
                        //height: 640px;
                        //background-position: center;
                        //background-repeat: no-repeat;
                        margin: auto;
                
                        .text {
                
                            font-size: var(--fs-small-title);
                        }
                
                        .numbers {
                            display: flex;
                            justify-content: space-around;
                
                            .number {
                                .num {
                                    font-size: var(--fs-title);
                                    text-align: center;
                                    font-weight: bold;
                                    color:white;
                                }
                
                                .deskription {}
                            }
                        
                    }
                }
            }

            --v-translate-y: -300px;
            .map-wraper {
                
                height: 100vh;
                clip-path: polygon(0 333px, 100% 0, 100% 100%, 0 78%);
                transform: translateY(var(--v-translate-y));
                
            }
            .bottom-strip {
                width: 100%;
                height: 40px;
                background-color: rgb(99,99,99);
                transform: translateY(calc(var(--v-translate-y)*1.3)) skew(0deg, 7.8deg)
            }
            .form-wraper {
                margin: auto;
                width: var(--basic-width);
                transform: translateY(calc(var(--v-translate-y) - 50%));
                .form {
                    form {
                        //background: rgb(95, 162, 242);
                        //background: radial-gradient(circle, var(--clr-hen-blue) 4%, #1360be 50%, #1360be 85%);
                        width: 90%;
                        flex: 1;
                        .text {

                            font-size: x-large;
                            font-weight: bold;
                            padding-bottom: 40px;
                            padding-top: 40px;
                            color: black;
                        }

                        .fields {
                            display: flex;
                            justify-content: space-between;
                            
                            .field {
                                padding-top: 3px;
                                label {
                                    color: black;
                                }
                                input[type=text] {
                                    width: 100%;
                                    font-size: 2rem;
                                }
                            }
                            input[type=submit] {
                                font-size: 1rem;
                                font-weight: bold;
                                background-color: var(--clr-1);
                            }
                        }
                        
                        
                        
                    }
                }
            }
        }
        
    }
}